* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10%;
  background-color: #ffffff;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}


.logo {
  letter-spacing: 3px;
font-family: 'Roboto', sans-serif;
    font-size: 20px;
  color: rgb(10, 10, 10);
  text-decoration: none;
  cursor: pointer;
  order: 3;
  margin-left: auto;
  
}

nav {
  order: 1;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Poppins", sans-serif;
    font-size: 14px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
  font-size: 16px;
}

.nav__links li {
  padding: 0px 25px;
}

.nav__links li:nth-child(1) {
  padding: 0 25px 0 0;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #ffffff;
}


.cta {
  order: 2;
  margin-left: 20px;
  padding: 9px 25px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}


.gallery-section{
  width: 100%;
  padding: 60px 0;
  background: #ffffff;
  
}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.gallery-section h1{
  margin-bottom: 50px;
  font-family: 'Noto Serif SC', serif;
  text-align: center;
  color: #080808;
}

.gallery-section .gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  
}

.gallery-section .image{
  flex: 20%;
  overflow: hidden;
  margin-bottom: 5px;  
  margin-left: 5px;
  cursor: pointer;
}

.gallery-section .image img{
  width: 100%;
  height: 100%;
  transition: 0.4s;
}


.msg-area {
  font-family: 'Noto Serif SC', serif;
	color: #000000;
	text-align: center;
}
.msg-content h2 {
  margin-top: 50px;
  margin-bottom: 10px;
  
}

.garis{
margin-left: 100px;
margin-right: 100px;
margin-top: 40px;

}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #000000;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

  
.banner-area {
  font-family: 'Roboto Slab', serif;
  padding-top: 240px;
  margin-left: 120px;
  margin-right: 250px;
	color: #000000;
	font-size: 30px;
  text-align: right;
}
.banner-area-bawah {
  font-family: 'Noto Serif SC', serif;
  padding-top: 20px;
  margin-left: 120px;
  margin-right: 250px;
	color: #000000;
	font-size: 20px;
  text-align: right; 
}

.text-2 {
  font-family: 'Noto Serif SC', serif;
  color: #ffffff;
  text-align: left; 
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 220px;
  margin-right: 750px;
}



.segi {
  padding-bottom: 10px;
  margin-top: 20px;
  width: 15%;
  margin-left: 410px;
}

.angka {
  font-family: 'Roboto Slab', serif;
  padding-top: 10px;
  margin-left: 150px;
  margin-right: 10px;
	color: #000000;
	font-size: 11px;
  
}

.angka-2 {
  font-family: 'Roboto Slab', serif;
  font-size: 11px;
  margin-left: 1px;
}


.tengah {
  padding-top: 105px;
  padding-bottom: 0%;
  margin-left:50px;
  margin-right:100px;
  float: right;
  width: 40%;
}
 .banner-2{
  margin-top: 100px;
  padding-top: 120px;
  background-color: #000000;
 }

 .button {
  font-family: 'Roboto Slab', serif;
  background-color: #ffffff;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
 margin-left: 100px;
 margin-bottom: 100px;
}




@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

footer {
  font-family: "Poppins", sans-serif;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
  margin-top: 100px;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #000;
	padding: 60px 0;
}